/* line 113, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
.slider-area2 {
    background-image: url("../../../assets/img/h1_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 117, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
    .slider-area2 .hero-cap {
      padding-top: 50px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 117, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
    .slider-area2 .hero-cap {
      padding-top: 50px;
    }
  }
  
  @media (max-width: 575px) {
    /* line 117, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
    .slider-area2 .hero-cap {
      padding-top: 50px;
    }
  }
  
  /* line 127, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
  .slider-area2 .hero-cap h2 {
    color: #072366;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1;
    margin-top: 200px;
  }

  @media only screen and (max-width: 800px){
    .hero-cap2 h2{
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 127, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
    .slider-area2 .hero-cap h2 {
      font-size: 50px;
    }
  }
  
  @media (max-width: 575px) {
    /* line 127, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_h1-hero.scss */
    .slider-area2 .hero-cap h2 {
      font-size: 35px;
    }
  }





/* stories */

/* line 1, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area {
  background: #f8fcff;
}

.single-cases{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* line 4, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-img {
  overflow: hidden;
}

/* line 6, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-img img {
  width: 100%;
  transform: scale(1.05);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* line 12, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-caption {
  padding: 24px 20px 10px 20px;
  background: #fff;
}

/* line 16, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-caption h3 p {
  font-size: 21px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 40px;
  display: block;
  text-decoration: none;
  color: #072366;
}

.cases-caption  a{
  text-align: start;
  margin: 12px 0px;
  color: #09cc7f;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  align-items: 1;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 16, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
  .our-cases-area .single-cases .cases-caption h3 a {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  /* line 16, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
  .our-cases-area .single-cases .cases-caption h3 a {
    font-size: 16px;
  }
}

/* line 28, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-caption h3 a:hover {
  color: #09cc7f;
}

/* line 34, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-caption .prices p {
  color: #072366;
  font-size: 12px;
}

@media (max-width: 575px) {
  /* line 34, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
  .our-cases-area .single-cases .cases-caption .prices p {
    font-size: 11px;
  }
}

/* line 40, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases .cases-caption .prices p span {
  color: #072366;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 40, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
  .our-cases-area .single-cases .cases-caption .prices p span {
    font-size: 13px;
  }
}

/* line 53, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_cases.scss */
.our-cases-area .single-cases:hover .cases-img img {
  transform: scale(1);
}



/* line 810, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.section-padding30 {
  padding-top: 195px;
  padding-bottom: 180px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 810, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-padding30 {
    padding-top: 150px;
    padding-bottom: 140px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 810, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-padding30 {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 810, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-padding30 {
    padding-top: 65px;
    padding-bottom: 70px;
  }
}

@media (max-width: 575px) {
  /* line 810, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-padding30 {
    padding-top: 65px;
    padding-bottom: 70px;
  }
}

.mb-15 {
  margin-bottom: 15px;
}

/* line 495, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.mb-40 {
  margin-bottom: 40px;
}


@media (max-width: 575px) {
  /* line 913, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-tittle {
    margin-bottom: 50px;
    text-align: left !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 913, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-tittle {
    margin-bottom: 50px;
  }
}

/* line 921, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.section-tittle span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #09cc7f;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 0.05em;
}

@media (max-width: 575px) {
  /* line 921, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-tittle span {
    font-size: 14px;
    padding-left: 0px;
    text-align: left;
  }
}

/* line 936, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.section-tittle h2 {
  font-size: 42px;
  display: block;
  color: #072366;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.4;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 936, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-tittle h2 {
    font-size: 41px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 936, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-tittle h2 {
    font-size: 31px;
  }
}

@media (max-width: 575px) {
  /* line 936, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
  .section-tittle h2 {
    text-align: left;
    font-size: 27px;
  }
}

/* line 310, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.hero-btn {
  padding: 30px 62px;
}