<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-20">
            <h2>Our Stories</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Stories -->
<div class="our-cases-area section-padding30">
  <div class="container">
    <div class="section-tittle">
      <h2>OUR CAUSES</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cases mb-40">
          <div class="cases-img">
            <img src="../../../assets/img/stories/case1.png" alt="">
          </div>
          <div class="cases-caption">
            <h3>
              <p>Ensure Education For Every Poor Children</p>
            </h3>
            <!-- Progress Bar -->
            <div class="single-skill mb-15">
              <div class="bar-progress">
                <div id="bar1" class="barfiller">
                  <div class="tipWrap">
                    <span class="tip"></span>
                  </div>
                  <span class="fill" data-percentage="70"></span>
                </div>
              </div>
            </div>
            <!-- / progress -->
            <div class="prices d-flex justify-content-between">
              <p>Raised:<span> $20,000</span></p>
              <p>Goal:<span> $35,000</span></p>
            </div>
            <a>Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cases mb-40">
          <div class="cases-img">
            <img src="../../../assets/img/stories/case2.png" alt="">
          </div>
          <div class="cases-caption">
            <h3>
              <p>Ensure Education For Every Poor Children</p>
            </h3>
            <!-- Progress Bar -->
            <div class="single-skill mb-15">
              <div class="bar-progress">
                <div id="bar1" class="barfiller">
                  <div class="tipWrap">
                    <span class="tip"></span>
                  </div>
                  <span class="fill" data-percentage="70"></span>
                </div>
              </div>
            </div>
            <!-- / progress -->
            <div class="prices d-flex justify-content-between">
              <p>Raised:<span> $20,000</span></p>
              <p>Goal:<span> $35,000</span></p>
            </div>
            <a>Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cases mb-40">
          <div class="cases-img">
            <img src="../../../assets/img/stories/case3.png" alt="">
          </div>
          <div class="cases-caption">
            <h3>
              <p>Ensure Education For Every Poor Children</p>
            </h3>
            <!-- Progress Bar -->
            <div class="single-skill mb-15">
              <div class="bar-progress">
                <div id="bar1" class="barfiller">
                  <div class="tipWrap">
                    <span class="tip"></span>
                  </div>
                  <span class="fill" data-percentage="70"></span>
                </div>
              </div>
            </div>
            <!-- / progress -->
            <div class="prices d-flex justify-content-between">
              <p>Raised:<span> $20,000</span></p>
              <p>Goal:<span> $35,000</span></p>
            </div>
            <a>Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cases mb-40">
          <div class="cases-img">
            <img src="../../../assets/img/stories/case1.png" alt="">
          </div>
          <div class="cases-caption">
            <h3>
              <p>Ensure Education For Every Poor Children</p>
            </h3>
            <!-- Progress Bar -->
            <div class="single-skill mb-15">
              <div class="bar-progress">
                <div id="bar1" class="barfiller">
                  <div class="tipWrap">
                    <span class="tip"></span>
                  </div>
                  <span class="fill" data-percentage="70"></span>
                </div>
              </div>
            </div>
            <!-- / progress -->
            <div class="prices d-flex justify-content-between">
              <p>Raised:<span> $20,000</span></p>
              <p>Goal:<span> $35,000</span></p>
            </div>
            <a>Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cases mb-40">
          <div class="cases-img">
            <img src="../../../assets/img/stories/case2.png" alt="">
          </div>
          <div class="cases-caption">
            <h3>
              <p>Ensure Education For Every Poor Children</p>
            </h3>
            <!-- Progress Bar -->
            <div class="single-skill mb-15">
              <div class="bar-progress">
                <div id="bar1" class="barfiller">
                  <div class="tipWrap">
                    <span class="tip"></span>
                  </div>
                  <span class="fill" data-percentage="70"></span>
                </div>
              </div>
            </div>
            <!-- / progress -->
            <div class="prices d-flex justify-content-between">
              <p>Raised:<span> $20,000</span></p>
              <p>Goal:<span> $35,000</span></p>
            </div>
            <a>Learn More...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-cases mb-40">
          <div class="cases-img">
            <img src="../../../assets/img/stories/case3.png" alt="">
          </div>
          <div class="cases-caption">
            <h3>
              <p>Ensure Education For Every Poor Children</p>
            </h3>
            <!-- Progress Bar -->
            <div class="single-skill mb-15">
              <div class="bar-progress">
                <div id="bar1" class="barfiller">
                  <div class="tipWrap">
                    <span class="tip"></span>
                  </div>
                  <span class="fill" data-percentage="70"></span>
                </div>
              </div>
            </div>
            <!-- / progress -->
            <div class="prices d-flex justify-content-between">
              <p>Raised:<span> $20,000</span></p>
              <p>Goal:<span> $35,000</span></p>
            </div>
            <a>Learn More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
