<div class="container">
  <div class="row">
    <div class="">
      <div class="card">
        <form  class="box" [formGroup]="loginForm" (ngSubmit)="login()">
          <h1>Login</h1>
          <p class="text-muted"> Please enter your login and password!</p>
          <input formControlName="email" type="text" placeholder="Username">
          <div class="errors" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" >
            <p *ngIf="loginForm.get('email')?.getError('required')">This field is required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')">This field should be email address</p>
          </div>
          <input formControlName="password" type="password"  placeholder="Password">
          <div class="errors" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" >
            <p *ngIf="loginForm.get('password')?.getError('required')">This field is required</p>
            <p *ngIf="loginForm.get('password')?.getError('minlength')">This field should be 8 caracters</p>
          </div>
<!--          <a class="forgot text-muted" href="#">Forgot password?</a>-->
          <button [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
