<section id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            <span>What if we take you to Drâa-Tafilalet</span>
            <h2>To make you feel the pain, so that you can heal the pain.</h2>
            <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
        </div>
    </div>
    <video autoplay="" loop="" muted>
      <source src="../assets/video/highway-loop.mp4" type="video/mp4" />
    </video>
  </section>