
  <div class="slider-area">
    <div class="slider-active">
      <!-- Single Slider -->
      <div style="height: 600px;" class="single-slider slider-height d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
              <div class="hero__caption section-tittle">
                <h2>Good education choices are good investments.<br></h2>
                <p>There is a powerful need for symbolism, and that means the
                  architecture must have something that appeals to the human heart.
                </p>
                <!-- Hero-btn -->
                <div class="hero__btn">
                  <a href="industries.html" class="btn hero-btn mb-10" data-animation="fadeInLeft"
                    data-delay=".8s">Donate</a>
                  <a href="industries.html" class="cal-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">
                    <i class="flaticon-null"></i>
                    <p>+212 1325 41</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about"  class="about">
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-xl-7 col-lg-7 col-md-12 padding_lert">
             <div class="about_img">
                <figure><img src="../assets/img/about_img.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12">
             <div class="about_text">
                <div class="titlepage section-tittle">
                   <h2>The best comfort will always be greens, cornbread, and fried chicken.</h2>
                   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                   <a href="industries.html" class="btn hero-btn mb-10" data-animation="fadeInLeft"
                    data-delay=".8s">Know More About Us</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>


 <section class="about-low-area section-padding2">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-10">
              <div class="about-caption mb-50">
                  <!-- Section Tittle -->
                  <div class="section-tittle mb-35">
                      <span>About our foundetion</span>
                      <h2>We Are In A Mission To  Help Helpless</h2>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,mod tempor incididunt ut labore et dolore magna aliqua. Utnixm, quis nostrud exercitation ullamc.</p>
                  <p>Lorem ipvsum dolor sit amext, consectetur adipisicing elit, smod tempor incididunt ut labore et dolore.</p>
              </div>
              <a href="about.html" class="btn">About US</a>
          </div>
          <div class="col-lg-6 col-md-12 about-images">
              <!-- about-img -->
              <div class="about-img">
                  <div class="about-font-img d-none d-lg-block">
                      <img src="assets/img/girls/about2.png" alt="">
                  </div>
                  <div class="about-back-img ">
                      <img src="assets/img/girls/about1.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>  

 <section class="our-services" id="services">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-heading">
                  <h2>How you're changing girls lives</h2>
              </div>
          </div> 
      </div> 
      <div class="row">
          <div class="col-md-4">
              <div class="service-item">
                  <div class="icon">
                      <img src="../assets/img/services/service_icon_3.png" alt="">
                  </div>
                  <h4>Our mission</h4>
                  <p>Empower marginalized girls with good 
                    quality education and enhance their personal development with potential opportunities and 
                    necessary financial aids provided by donator community.</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="icon">
                      <img src="../assets/img/services/service_icon_1.png" alt="">
                  </div>
                  <h4>Our vision</h4>
                  <p>Diminish the girls reschooling rates in rural Moroccan areas and building up an inspiring
                    community donates who are potentially award of the critical situation the rural girls are going 
                    through.</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-item">
                  <div class="icon">
                      <img src="../assets/img/services/service_icon_2.png" alt="">
                  </div>
                  <h4>Our values</h4>
                  <p>Other transparency is the key of our continuity. We believe every donator has fundamental right of 
                    getting the full in formation, 
                    where their money goes and how they are impacting positively their country.</p>
              </div>
          </div>
      </div>
  </div>
</section>


<section id="video-container">
  <div class="video-overlay"></div>
  <div class="video-content">
      <div class="inner">
          <span>What if we take you to Drâa-Tafilalet</span>
          <h2>To make you feel the pain, so that you can heal the pain.</h2>
          <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
      </div>
  </div>
  <video autoplay="" loop="" muted>
    <source src="../assets/video/highway-loop.mp4" type="video/mp4" />
  </video>
</section>

<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="about-veno">
                  <div class="logo">
                    <h4>Save our girls</h4>
                  </div>
                  <p>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In hac habitasse platea dictumst.</p>
                  <ul class="social-icons">
                      <li>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-rss"></i></a>
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4">
              <div class="useful-links">
                  <div class="footer-heading">
                      <h4>Useful Links</h4>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <ul>
                              <li><a href="#"><i class="fa fa-stop"></i>Help FAQs</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Register</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Login</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>My Profile</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>How It Works?</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>More About Us</a></li>
                          </ul>
                      </div>
                      <div class="col-md-6">
                          <ul>
                              <li><a href="#"><i class="fa fa-stop"></i>Our Clients</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Partnerships</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Blog Entries</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="contact-info">
                  <div class="footer-heading">
                      <h4>Contact Information</h4>
                  </div>
                  <p>Praesent iaculis gravida elementum. Proin fermentum neque facilisis semper pharetra. Sed vestibulum vehicula tincidunt.</p>
                  <ul>
                      <li><span>Phone:</span><a href="#">010-050-0550</a></li>
                      <li><span>Email:</span><a href="#">hi@company.co</a></li>
                      <li><span>Address:</span><a href="#">company.co</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>