/* line 114, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
ul {
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 3, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}



@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 3, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}

@media (max-width: 575px) {
  /* line 3, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}

/* line 14, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top {
  padding: 9px 130px;
  border-bottom: 1px solid #f0f1f2;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  /* line 14, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-top {
    padding: 9px 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 14, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-top {
    padding: 9px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 14, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-top {
    padding: 9px 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 14, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-top {
    padding: 9px 20px;
  }
}

@media (max-width: 575px) {
  /* line 14, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-top {
    padding: 9px 0px;
  }
}

/* line 36, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left > ul > li {
  color: #687693;
  display: inline-block;
  margin-right: 18px;
  padding-right: 18px;
  border-right: 1px solid #687693;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}

/* line 45, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left > ul > li:last-child {
  margin-right: 0px;
}

/* line 48, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left > ul > li i {
  margin-right: 8px;
}

/* line 56, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left .header-social > ul > li {
  display: inline-block;
}

/* line 58, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left .header-social > ul > li > a {
  color: #7b8693;
  font-size: 14px;
  padding-left: 25px;
}

/* line 62, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left .header-social > ul > li > a > i {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

/* line 71, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left .header-social > ul > li > a:hover i {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

/* line 78, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-left .header-social > ul > li > a:hover {
  color: #09cc7f;
}

/* line 89, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-right .select-this .nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #687693;
}

/* line 96, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-right .select-this .nice-select .option:hover, .header-area .header-top .header-info-right .select-this .nice-select .option.focus, .header-area .header-top .header-info-right .select-this .nice-select .option.selected.focus {
  background-color: #09cc7f;
}

/* line 102, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-right .select-this .nice-select::after {
  border-bottom: 1px solid #687693;
  border-right: 1px solid #687693;
  height: 7px;
  width: 7px;
  margin-top: -7px;
}

/* line 112, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-top .header-info-right .contact-now li a {
  color: #687693;
  border-left: 1px solid #687693;
  font-size: 14px;
  line-height: 1;
  padding-left: 21px;
  margin-left: 10px;
  font-weight: 400;
}

/* line 125, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.header-area .header-bottom {
  padding: 0px 130px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  /* line 125, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-bottom {
    padding: 0px 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 125, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-bottom {
    padding: 0px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 125, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-bottom {
    padding: 15px 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 125, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-bottom {
    padding: 15px 20px;
  }
}

@media (max-width: 575px) {
  /* line 125, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .header-area .header-bottom {
    padding: 15px 0px;
  }
}

/* line 499, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.ml-20 {
  margin-left: 20px;
}
/* line 72, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
a {
  color: #635c5c;
}

/* line 75, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
a:hover {
  color: #fff;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 118, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
li {
  list-style: none;
}

/* line 148, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.main-header {
  position: relative;
  z-index: 3;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
.header-area{
  width: 100%;
  background-color: white;
  z-index: 1000;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  /* line 152, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .main-header .main-menu {
    margin-right: 30px;
  }
}

/* line 157, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.main-header .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}

/* line 161, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.main-header .main-menu ul li a {
  color: #072366;
  font-weight: 400;
  padding: 39px 19px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 161, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
  .main-header .main-menu ul li a {
    padding: 39px 14px;
  }
}

/* line 174, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.main-header .main-menu ul li:hover > a {
  color: #09cc7f;
}

/* line 179, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.main-header .main-menu ul ul.submenu {
  position: absolute;
  width: 170px;
  background: rgba(0, 12, 32, 0.6);
  right: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 5px solid #09cc7f;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-header .main-menu ul ul.submenu > li {
  margin-left: 7px;
  display: block;
}

.main-header .main-menu ul ul.submenu > li > a {
  padding: 6px 10px !important;
  font-size: 16px;
  color: #fdfdfd;
}

.main-header .main-menu ul ul.submenu > li > a:hover{
  color: #09cc7f;
  background: none;
  padding-left: 13px !important;
}

.main-header ul > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

li a img{
  width: 40px;
}

.btn {
  background: #09cc7f;
  font-family: "Muli", sans-serif;
  text-transform: capitalize;
  padding: 27px 44px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  line-height: 1;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
}

/* line 271, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #24ac75;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0px;
}

/* line 290, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}

/* line 295, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.btn:hover {
  background-position: right;
}

/* line 298, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}


/* line 310, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.hero-btn {
  padding: 30px 62px;
}

/* line 332, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.cal-btn i {
  color: #09cc7f !important;
  font-size: 31px;
  font-weight: 300;
  margin-right: 10px;
}

/* line 338, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_common.scss */
.cal-btn > p {
  color: white;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin: 0 !important;
  position: relative;
  top: -7px;
}



/* line 256, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu {
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99;
}

/* line 261, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu {
  background: transparent;
  margin-top: 0px !important;
}

/* line 264, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu .slicknav_btn {
  top: -30px;
}

/* line 267, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
  background-color: #09cc7f !important;
}

/* line 271, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu .slicknav_nav {
  margin-top: 9px !important;
}

/* line 274, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #09cc7f;
}

/* line 278, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu .slicknav_nav a {
  font-size: 15px;
  padding: 7px 10px;
}

/* line 283, C:/Users/HP/Desktop/jun-2020/277.Charity _Non-profit/assets/scss/_headerMenu.scss */
.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
  padding: 0 !important;
}





footer {
  padding: 80px 0px 70px 0px;
  border-top: 1px solid #ddd;
}

footer .footer-heading h4 {
  font-size: 21px;
  color: #232323;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-bottom: 40px;
}


footer .about-veno .logo {
  margin-bottom: 40px;
}
footer .about-veno .logo h4{
  color: #09cc7f;
}

footer .about-veno ul li a {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  background-color: #cdcdcd;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  margin-right: 3px;
  transition: all 0.5s;
}

footer .about-veno p {
  margin-bottom: 25px;
}

footer .about-veno ul li a:hover {
  background-color: #09cc7f;
}

footer .useful-links ul li {
  margin-bottom: 12px;
}

footer .useful-links ul li a {
  font-size: 15px;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.5s;
}

footer .useful-links ul li a:hover {
  color: #09cc7f;
}

footer .useful-links ul li i {
  color: #09cc7f;
  font-size: 6px;
  position: relative;
  top: -3px;
  margin-right: 8px;
}

footer .contact-info p {
  margin-bottom: 25px;
}

footer .contact-info ul li {
  margin: 10px 0px;
}

footer .contact-info ul li span {
  font-size: 13px;
  color: #7a7a7a;
  font-weight: 600;
  letter-spacing: 0.3px;
  width: 80px;
  display: inline-block;
}

footer .contact-info ul li a {
  font-size: 13px;
  color: #09cc7f;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.sub-footer p {
  text-align: center;
  display: inline-block;
  background-color: #f4f4f4;
  width: 100%;
  margin-bottom: 0px;
  padding: 30px 0px;
  font-size: 15px;
  color: #aaaaaa;
}

.footer -menu li a:hover {
  text-decoration: none;
}

.sub-footer a {
  text-decoration: none;
  color: #09cc7f;
}

@media (max-width:992px) {
  footer .useful-links {
    margin-top: 60px;
  }

  footer .contact-info {
    margin-top: 60px;
  }
}


