<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header">
        <div class="header-bottom  header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a style="width: 20px;" href="/"><img style="width: 150px;" src="assets/img/logo/logo.png"
                      alt=""></a>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10">
                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                  <!-- Main-menu -->
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="home">Home</a></li>
                        <li><a href="stories">Stories</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="blog">Blog</a>
                          <ul class="submenu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog_details.html">Blog Details</a></li>
                            <li><a href="elements.html">Element</a></li>
                          </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li *ngIf="!currentUser"><a href="login">Login</a></li>
                        <li  *ngIf="currentUser"><a><img src="assets/img/profile/profil.png"></a>
                          <ul class="submenu">
                            <li><a href="/profil">Profil</a></li>
                            <li><a (click)="logout()">Logout</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- Header-btn -->
                  <div class="header-right-btn d-none d-lg-block ml-20">
                    <a href="donate" class="btn header-btn">Donate</a>
                  </div>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>

  <router-outlet></router-outlet>




<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="about-veno">
                  <div class="logo">
                    <h4>Save our girls</h4>
                  </div>
                  <p>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In hac habitasse platea dictumst.</p>
                  <ul class="social-icons">
                      <li>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                          <a href="#"><i class="fa fa-rss"></i></a>
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4">
              <div class="useful-links">
                  <div class="footer-heading">
                      <h4>Useful Links</h4>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <ul>
                              <li><a href="#"><i class="fa fa-stop"></i>Help FAQs</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Register</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Login</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>My Profile</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>How It Works?</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>More About Us</a></li>
                          </ul>
                      </div>
                      <div class="col-md-6">
                          <ul>
                              <li><a href="#"><i class="fa fa-stop"></i>Our Clients</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Partnerships</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Blog Entries</a></li>
                              <li><a href="#"><i class="fa fa-stop"></i>Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="contact-info">
                  <div class="footer-heading">
                      <h4>Contact Information</h4>
                  </div>
                  <p>Praesent iaculis gravida elementum. Proin fermentum neque facilisis semper pharetra. Sed vestibulum vehicula tincidunt.</p>
                  <ul>
                      <li><span>Phone:</span><a href="#">010-050-0550</a></li>
                      <li><span>Email:</span><a href="#">hi@company.co</a></li>
                      <li><span>Address:</span><a href="#">company.co</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
</body>

</html>
